@import url('https://fonts.googleapis.com/css2?family=Neuton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@200;400&display=swap');

#main-header {
  width: 100%;
  background-color: #50655B;
  color:#96B2B5;
  text-align: center;
  margin: 0;
  padding-top: 25px;
  font-family: 'Neuton', serif;
}

#login-header {
  width: 100%;
  color: #96B2B5;
  text-align: center;
  margin: 0;
  padding-top: 100px;
  font-family: 'Neuton', serif;
}

#main-header h1 {
  font-size: 50px;
  font-style: 'Neuton', serif;
}

#nav-button {
  color: #96B2B5;
  
}

#nav-button:hover {
  color:#899c9e
}

#Routes-Page {
  margin-top: 20px;
  text-align: center;
}

#Routes-List {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Route-Card {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  background-color: #ffffff;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),;
  border-color: #FAB954;
  border-radius: 10px;
 
  border-style: groove;
  /* border-colƒor: #FAB954 */

 
}

.Route-Card:Hover {
  border-width: 5px;
}

.Edit-Card input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#Graph-Page {
  text-align: center;
}

#Graph-Page h4 {
  padding-top: 20px;
}


#login-cont {
  background-image: url(../src/assets/tunnel.gif);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-repeat: no-repeat;
  /* background-position: center center; */
  height:1000px;
}


#login{
  background-color: rgba(255, 255, 255, 0.801);
  border: 2px solid #d3d3d3;
  border-radius: .5em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 1em;
  text-align: left;
  width: 600px;
  box-shadow:  -0.2em 1px #dddddd, -0.5em 0 .5em #dddddd;
}

#loginTitle{
  margin-left: 13px;
  color:#50655B;
  font-family: 'Neuton', serif;

}
#signupTitle{
  margin-left: 13px;
  color:#50655B;
  font-family: 'Neuton', serif;
}

#form{
  padding: 1em;
}


#signin{
  background-color: rgba(255, 255, 255, 0.801);
  border: 2px solid #d3d3d3;
  border-radius: .5em;
  margin-top: 30px;
  /* margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px; */
  padding: 1em;
  text-align: left;
  width: 600px;
  box-shadow:  -0.2em 1px #dddddd, -0.5em 0 .5em #dddddd;
  
  
}

#form1{
  padding: 1em;
}

#alert1{
  color: red;
  border-color: red;
  background-color: #ffdadb;
  margin-top: 10px;
  padding:7px;
}

#alert2{
  color: red;
  border-color: red;
  background-color: #ffdadb;
  margin-top: 10px;
  padding: 7px;
}

#alert3{
  color: red;
  border-color: red;
  background-color: #ffdadb;
  margin-top: 10px;
  padding: 7px;
}
#dayChart{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 40vh;
 

}
#monthchart{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 40vh;
 
}

#text1{
 
  text-decoration: none;
  color: #282c34;
 
}


#text2{
  text-decoration: none;
  color: black;
}

#b1{
  background-color:#FCFAF0; 
 
}
#b2{
  background-color:#FCFAF0 ;

}

#routes-buttons button{
  margin: 10px;
  /* border-color: #FAB954; */
}

.card-button {
  background-color: #50655B !important;
}


#title{
  /* text-align: center;
  padding-top: 70px; */
  margin-left: 20%;
 
  padding-top: 70px; 
  color:#50655B;
  font-size: 70px;
  padding-bottom: -10px;
  font-family:'Neuton', serif;

}
#maintitle{
  font-family:'Neuton', serif;
  font-size: 70px;
  color: white;
  padding-top: 30px; 
  padding-bottom: 50px;
  margin-left: 5px;

}




 #b1{
  background-color: #96B2B5;
}
#b2{
  background-color: #96B2B5;
} 
#b3{
  background-color: #96B2B5;
}
#b4{
  background-color: #96B2B5;
}

#p1{
  margin-left: 20px;
  color:white;
  padding-top: 5px ;
}

#p2{
  margin-left: 20px;
  padding-top: 20px ;
  color:white;
}


 /* #card{
  border-color: none;
  background-color: #ffffff;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),;
  border-color: #FAB954
 } */

#b6{
  background-color:#50655B; 
}