
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ---------------------------------------- */

#Header {
  background-color: orange;
}

#Routes-Page {
  margin-top: 20px;
  
}

#Routes-List {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Route-Card {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  background: orange;
  border-radius: 10px;
}

.Edit-Card input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#login{
  border: 2px solid #d3d3d3;
  border-radius: .5em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 1em;
  text-align: left;
  width: 600px;
  box-shadow:  -0.2em 1px #dddddd, -0.5em 0 .5em #dddddd;
}

#form{
  padding: 1em;
}


#signin{
  border: 2px solid #d3d3d3;
  border-radius: .5em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 1em;
  text-align: left;
  width: 600px;
  box-shadow:  -0.2em 1px #dddddd, -0.5em 0 .5em #dddddd;
}

#form1{
  padding: 1em;
}

#alert1{
  color: red;
  border-color: red;
  background-color: #ffdadb;
  margin-top: 10px;
}

#alert2{
  color: red;
  border-color: red;
  background-color: #ffdadb;
  margin-top: 10px;
}